.nav {
  position: sticky;
  top: 0;
  z-index: 999;
  background: white;
  border-bottom: 1px solid #eee;
}

.nav-container {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 35px;
}

/* LOGO */
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo img {
  width: 38px;
  height: 38px;
}

.logo h2 {
  font-weight: 700;
  font-size: 22px;
}

/* MENU */
.menu {
  display: flex;
  gap: 25px;
  align-items: center;
}

.menu a {
  text-decoration: none;
  color: #222;
  font-size: 15px;
  font-weight: 500;
}

.menu a:hover {
  color: #0077ff;
}

/* WhatsApp Button */
.nav-whatsapp {
  background: #25D366;
  color: white !important;
  padding: 8px 14px;
  border-radius: 20px;
}
